@import url(./reset.css);
@import url(https://fonts.google.com/specimen/Roboto);

body {
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
}


header {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between; /*main axes esas axes */
    align-items: center; /*cross axes */
    padding-top: 41px;
    padding-left: 112.5px;
    padding-right: 112.5px;
}

header .nav-links a {
    color: #000;
}

.fa-bars-staggered {
    display: none;
}

@media(max-width:768px) {
 .fa-bars-staggered {
    display: flex;
    cursor: pointer;
 }
  .nav-links {
    display: none;
  }
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*introsection start */
.introsection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 7.03rem;
    padding-right: 0;
}
.intro-left-side {
    padding-top: 117px;
    min-width: 680px;
    flex-basis: 50%;
}
.intro-left-side h1 {
 font-size: 70px;
 font-weight: 700;
 margin-bottom: 40px;
}
.intro-left-side p {
    margin-bottom: 18px;
    letter-spacing: 2px;
    line-height: 33px ;
    font-size: 22px;
}

.intro-left-side h1 span {
    color: orange;
}

.intro-left-side button {
    width: 125px;
    height: 40px;
    background-color: #000;
    color: #fff;
}

.intro-right-side {
    padding-top: 70px;
    min-width: 500px;
    flex: 1;
}

.intro-right-side img {
    width: 100%;
    height: 100%;
}


@media(max-width:1311px) and (min-width:768px) {
    .intro-left-side {
        flex-basis: 100%;
        text-align: center;
    }
    .introsection {
        padding-right: 0;
        padding-left: 0;
    }
}

@media(max-width:768px) {
    .intro-left-side {
        min-width: 500px;
        text-align: center;
        padding-top: 40px;
        flex-basis: 100%;
    }
    .intro-right-side {
        padding-left: 0;
        padding-right: 0;
    }
}


/* introsection end */
/*trusted by section start */
  .trusted-by-section > h6 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }

  .trusted-by-companies {
    display: flex;
    justify-content: space-around;
  }
  @media(max-width:768px) {
    .trusted-by-company:nth-child(1)
    .trusted-by-company:nth-child(3) {
        display: none;
    }
    .trusted-by-company:not(:first-child) {
        display: none;
    }
  }









/*trusted by section finish */